# ----------------------------
# Raw PDFs (ignore files, keep folders)
# ----------------------------
data/raw_pdfs/*
!data/raw_pdfs/.gitkeep
!data/raw_pdfs/sample/
!data/raw_pdfs/sample/.gitkeep

# ----------------------------
# Vector DB files (ignore data, keep folder)
# ----------------------------
data/vectors/*
!data/vectors/.gitkeep
data/chroma_db/

# ----------------------------
# Python cache
# ----------------------------
__pycache__/
*.pyc
.venv/

# ----------------------------
# Environment
# ----------------------------
.env

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db
